{{- if and .Values.ingress.enabled .Values.ingress.tls.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: rdi-api-ingress-tls
  labels:
    app: rdi-api
    product: rdi
    {{- with .Values.global.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.global.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: kubernetes.io/tls
data:
  tls.crt: {{ required "ingress.tls.crt is a required value" .Values.ingress.tls.crt | b64enc | quote }}
  tls.key: {{ required "ingress.tls.key is a required value" .Values.ingress.tls.key | b64enc | quote }}
{{- end }}
