{{- if and .Values.global.createSecrets (not .Values.global.vmMode) }}
apiVersion: v1
kind: Secret
metadata:
  name: rdi-sys-config
  labels:
    product: rdi
    {{- with .Values.global.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.global.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  # RDI Redis database connection configuration
  {{- if hasKey .Values.connection "username" }}
  RDI_REDIS_USERNAME: {{ .Values.connection.username | b64enc | quote }}
  {{- end }}
  {{- if hasKey .Values.connection "password" }}
  RDI_REDIS_PASSWORD: {{ .Values.connection.password | b64enc | quote }}
  {{- end }}

  # RDI Redis database connection SSL configuration
  {{- if .Values.connection.ssl.enabled }}
  {{- if and .Values.connection.ssl.cert .Values.connection.ssl.key }}
  RDI_REDIS_CERT: {{ include "rdi.cert.paths.cert" . | b64enc | quote }}
  RDI_REDIS_KEY: {{ include "rdi.cert.paths.key" . | b64enc | quote }}
  {{- if .Values.connection.ssl.keyPassword }}
  RDI_REDIS_KEY_PASSPHRASE: {{ .Values.connection.ssl.keyPassword | b64enc | quote }}
  {{- end }}
  {{- end }}
  {{- if .Values.connection.ssl.cacert }}
  RDI_REDIS_CACERT: {{ include "rdi.cert.paths.cacert" . | b64enc | quote }}
  {{- end }}
  {{- end }}

  # API configuration
  {{- if .Values.api.jwtKey }}
  JWT_SECRET_KEY: {{ .Values.api.jwtKey | b64enc | quote }}
  {{- end }}
{{- end }}
