{{- if and .Values.global.createSecrets (not .Values.global.vmMode) .Values.connection.ssl.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: rdi-db-ssl
  labels:
    product: rdi
    {{- with .Values.global.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.global.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  {{- if and .Values.connection.ssl.cert .Values.connection.ssl.key }}
  cert: {{ .Values.connection.ssl.cert | b64enc | quote }}
  key: {{ .Values.connection.ssl.key | b64enc | quote }}
 {{- end }}

  {{- if .Values.connection.ssl.cacert }}
  cacert: {{ .Values.connection.ssl.cacert | b64enc | quote }}
  {{- end }}
{{- end }}
