apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: rdi-api
  labels:
    app: rdi-api
    product: rdi
    {{- with .Values.global.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.global.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
rules:
  - apiGroups:
      - apps
    resources:
      - pods
      - deployments
    verbs:
      - list
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - list
      - get
      - create
      - update
      - delete
      - patch
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - list
