{{- if .Values.global.externalSecrets.enabled }}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: rdi-credentials
  labels:
    product: rdi
    {{- with .Values.global.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.global.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  provider: {{ .Values.global.externalSecrets.provider }}
  {{- with .Values.global.externalSecrets.parameters }}
  parameters:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
