{{- if .Values.crd.enabled }}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: pipelinereleases.rdi.redis.com
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    {{- with merge (.Values.crd.labels | default dict) (.Values.global.labels | default dict) }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- $customAnnotations := merge (.Values.crd.annotations | default dict) (.Values.global.annotations | default dict) -}}
  {{- if or .Values.crd.keep $customAnnotations }}
  annotations:
    {{- if .Values.crd.keep }}
    "helm.sh/resource-policy": keep
    {{- end }}
    {{- with $customAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}
spec:
  group: rdi.redis.com
  names:
    kind: PipelineRelease
    listKind: PipelineReleaseList
    plural: pipelinereleases
    singular: pipelinerelease
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: PipelineRelease is the Schema for the pipelinereleases API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: Spec defines the desired state of PipelineRelease
            type: object
            x-kubernetes-preserve-unknown-fields: true
          status:
            description: Status defines the observed state of PipelineRelease
            type: object
            x-kubernetes-preserve-unknown-fields: true
        type: object
    served: true
    storage: true
    subresources:
      status: {}
{{- end -}}
