{{- if .Values.crd.enabled }}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: pipelines.rdi.redis.com
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    {{- with merge (.Values.crd.labels | default dict) (.Values.global.labels | default dict) }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- $customAnnotations := merge (.Values.crd.annotations | default dict) (.Values.global.annotations | default dict) -}}
  {{- if or .Values.crd.keep $customAnnotations }}
  annotations:
    {{- if .Values.crd.keep }}
    "helm.sh/resource-policy": keep
    {{- end }}
    {{- with $customAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}
spec:
  group: rdi.redis.com
  names:
    kind: Pipeline
    listKind: PipelineList
    plural: pipelines
    singular: pipeline
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Pipeline is the Schema for the pipelines API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: PipelineSpec defines the desired state of Pipeline.
            properties:
              active:
                default: true
                description: Active specifies if the pipeline is active or not. Defaults
                  to true.
                type: boolean
              config:
                description: |-
                  Config is the pipeline configuration.
                  See https://redis.io/docs/latest/integrate/redis-data-integration/data-pipelines/data-pipelines/.
                x-kubernetes-preserve-unknown-fields: true
            required:
            - active
            - config
            type: object
          status:
            description: PipelineStatus defines the observed state of Pipeline.
            properties:
              components:
                description: Components contains information about the pipeline components.
                items:
                  description: |-
                    PipelineComponent defines a component of the pipeline.
                    It includes the name, type, version, metrics path, availability, and error messages of the component.
                  properties:
                    apiBaseURL:
                      description: APIBaseURL is the component API base URL.
                      type: string
                    errorMessages:
                      description: ErrorMessages is a list of error messages related
                        to the component.
                      items:
                        type: string
                      type: array
                    metricsEndpoints:
                      description: MetricsEndpoints is a list of the component's metrics
                        endpoints.
                      items:
                        type: string
                      type: array
                    name:
                      description: Name of the component deployment or StatefulSet.
                      type: string
                    phase:
                      description: Phase indicates the current component phase, must
                        be one of `Active`, `Inactive`, `Pending`, or `Error`.
                      enum:
                      - Active
                      - Inactive
                      - Pending
                      - Error
                      type: string
                    type:
                      description: Type of the component, for example `debezium-collector`,
                        `stream-processor`, etc.
                      type: string
                    version:
                      description: Version of the component.
                      type: string
                  required:
                  - name
                  - type
                  type: object
                type: array
              conditions:
                description: Conditions contains the latest available observations
                  of the resource's current state.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              lastOperation:
                description: LastOperation contains information about the last operation
                  on the resource.
                properties:
                  description:
                    description: A human readable message indicating details about
                      the last operation.
                    type: string
                  lastUpdateTime:
                    description: Last time the operation was updated.
                    format: date-time
                    type: string
                  state:
                    description: Status of the last operation, one of Processing,
                      Succeeded, Error, Failed.
                    enum:
                    - Processing
                    - Succeeded
                    - Error
                    - Failed
                    type: string
                  type:
                    description: Type of the last operation, one of Reconcile, Delete,
                      Reset.
                    enum:
                    - Reconcile
                    - Delete
                    - Reset
                    type: string
                required:
                - state
                - type
                type: object
              observedGeneration:
                description: ObservedGeneration is the most recent generation observed
                  for this resource.
                format: int64
                type: integer
              phase:
                description: Phase indicates the current pipeline phase, must be one
                  of `Active`, `Inactive`, `Resetting`, `Pending`, `or `Error`.
                enum:
                - Active
                - Inactive
                - Resetting
                - Pending
                - Error
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
{{- end -}}
