apiVersion: app.redislabs.com/v1
kind: RedisEnterpriseCluster
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
    app: redis
spec:
  redisEnterpriseImageSpec:
    imagePullPolicy: IfNotPresent
    repository: redislabs/redis
    versionTag: {{ .Values.version }}
  redisEnterpriseNodeResources:
    limits:
      cpu: {{ .Values.node.cpu | quote }}
      memory: {{ .Values.node.memory }}
    requests:
      cpu: {{ .Values.node.cpu | quote }}
      memory: {{ .Values.node.memory }}
  nodes: {{ .Values.node.count }}
  persistentSpec:
    enabled: true
    storageClassName: "{{ .Values.storage.class }}"
    volumeSize: {{ .Values.node.disk }}
  username: demo@redis.com
  redisUpgradePolicy: {{ .Values.upgradePolicy | quote }}
  {{- if and .Values.tls.certificate .Values.tls.key }}
  certificates:
    proxyCertificateSecretName: proxy-cert-secret
  {{- else if .Values.tls.secret }}
  certificates:
    proxyCertificateSecretName: {{ .Values.tls.secret }}
  {{- end }}
  {{- if and .Values.ingress.enabled .Values.dns.domain }}
  ingressOrRouteSpec:
    apiFqdnUrl: "api-{{ .Values.name }}.{{ .Values.dns.domain }}"
    dbFqdnSuffix: "-db-{{ .Values.name }}.{{ .Values.dns.domain }}"
    {{- if or (eq .Values.ingress.type "nginx") (eq .Values.ingress.type "haproxy") }}
    method: ingress
    {{- else if eq .Values.ingress.type "route" }}
    method: openShiftRoute
    {{- else }}
    method: istio
    {{- end }}
    {{- if eq .Values.ingress.type "haproxy" }}
    ingressAnnotations:
      kubernetes.io/ingress.class: haproxy
      ingress.kubernetes.io/ssl-passthrough: "true"
    {{- else if eq .Values.ingress.type "nginx" }}
    ingressAnnotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    {{- end }}
  {{- end }}
  {{- if .Values.ingress.enabled }}
  uiServiceType: ClusterIP
  {{- else }}
  uiServiceType: LoadBalancer
  {{- end }}
  {{- if and (eq .Values.ingress.type "lb") .Values.dns.domain }}
  uiAnnotations:
    external-dns.alpha.kubernetes.io/hostname: "redis-ui.{{ .Values.dns.domain }}"
  {{- end }}
  servicesRiggerSpec:
    {{- if .Values.ingress.enabled }}
    databaseServiceType: 'cluster_ip,headless'
    {{- else }}
    databaseServiceType: 'load_balancer,cluster_ip'
    {{- end }}
    serviceNaming: bdb_name
  services:
    apiService:
      {{- if .Values.ingress.enabled }}
      type: ClusterIP
      {{- else }}
      type: LoadBalancer
      {{- end }}
  {{- if .Values.license }}
  license: {{ .Values.license | quote }}
  {{- end }}
