{{- if not .Values.postgres.externalSecret.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-options: Prune=false
  labels:
    {{- include "postgres.labels" . | nindent 4 }}
type: Opaque
data:
  password: {{ include "postgres.password" . | b64enc }}
{{- end }}
