{{- $secret := lookup "v1" "Secret" (.Values.namespace | default .Release.Namespace) .Values.name -}}
{{- $password := "" -}}
{{- if $secret -}}
  {{- $password = index $secret.data "POSTGRES_PASSWORD" | b64dec -}}
{{- else if .Values.postgres.auth.password -}}
  {{- $password = .Values.postgres.auth.password -}}
{{- else -}}
  {{- $password = randAlphaNum 16 -}}
{{- end -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
    {{- include "postgres.labels" . | nindent 4 }}
type: Opaque
stringData:
  POSTGRES_USER: {{ .Values.postgres.auth.username | quote }}
  POSTGRES_PASSWORD: {{ $password | quote }}
  POSTGRES_DB: {{ .Values.postgres.auth.database | quote }}
  {{- if .Values.exporter.enabled }}
  DATA_SOURCE_NAME: "postgresql://{{ .Values.postgres.auth.username }}:{{ $password }}@localhost:5432/{{ .Values.postgres.auth.database }}?sslmode=disable"
  {{- end }}
