apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
    {{ include "postgres.labels" . | nindent 4 }}
type: Opaque
stringData:
  POSTGRES_USER: {{ default (randAlphaNum 8) .Values.postgres.auth.username | quote }}
  POSTGRES_PASSWORD: {{ .Values.postgres.auth.password | quote }}
  POSTGRES_DB: {{ .Values.postgres.auth.database | quote }}
  {{- if .Values.exporter.enabled }}
  DATA_SOURCE_NAME: "postgresql://{{ .Values.postgres.auth.username }}:{{ .Values.postgres.auth.password }}@localhost:5432/{{ .Values.postgres.auth.database }}?sslmode=disable"
  {{- end }}
