{{- if .Values.service.clusterIP.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
    {{ include "postgres.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.clusterIP.type }}
  ports:
    - port: {{ .Values.service.clusterIP.port }}
      targetPort: postgres
      protocol: TCP
      name: postgres
  {{- if .Values.exporter.enabled }}
    - port: {{ .Values.exporter.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  {{- end }}
  selector:
    {{ include "postgres.selectorLabels" . | nindent 4 }}
{{- end }}
