{{- if eq .Values.service.ingress.type "haproxy" }}
apiVersion: ingress.v1.haproxy.org/v1
kind: TCP
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  annotations:
    ingress.class: haproxy
spec:
  - name: postgres-ingress
    frontend:
      name: "postgres"
      binds:
        - name: "postgres"
          port: 5432
    service:
      name: "postgres"
      port: {{ .Values.service.clusterIP.port }}
{{- end }}
