apiVersion: app.redislabs.com/v1alpha1
kind: RedisEnterpriseDatabase
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
    app: redis-database
spec:
  redisEnterpriseCluster:
    name: {{ .Values.cluster }}
  {{- if not .Values.ossCluster }}
  proxyPolicy: {{ .Values.proxyPolicy }}
  {{- end }}
  memorySize: {{ .Values.memory }}
  databaseSecretName: {{ include "redis-database.passwordSecret" }}
  replication: {{ .Values.replication }}
  shardCount: {{ .Values.shards }}
  shardsPlacement: {{ .Values.placement }}
  type: redis
  databasePort: {{ .Values.port }}
  persistence: {{ .Values.persistence }}
  redisVersion: {{ .Values.version | quote }}
  evictionPolicy: {{ .Values.eviction }}
  {{- if .Values.tls.enabled }}
  tlsMode: "enabled"
  {{- end }}
  {{- if .Values.tls.certificates }}
  clientAuthenticationCertificates:
    {{- range .Values.tls.certificates }}
    - {{ . }}
    {{- end }}
  {{- end }}
  {{- if .Values.modules }}
  modulesList:
    {{- range .Values.modules }}
    - name: {{ . }}
    {{- end }}
  {{- end }}
