apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-options: Prune=false
type: Opaque
data:
  password: {{ include "redis-database.password" . | b64enc }}
