{{- if .Values.dns.domain }}
{{- if or (eq .Values.ingress.type "nginx") (eq .Values.ingress.type "haproxy") }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  {{- if eq .Values.ingress.type "haproxy" }}
  annotations:
    kubernetes.io/ingress.class: haproxy
    ingress.kubernetes.io/ssl-passthrough: "true"
  {{- else }}
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
  {{- end }}
spec:
  rules:
    - host: "{{ .Values.name }}.{{ .Values.dns.domain }}"
      http:
        paths:
          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Values.name }}
                port:
                  number: {{ .Values.port }}
{{- end }}
{{- end }}
