{{- if .Values.dns.domain }}
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
spec:
  endpoints:
    - dnsName: "{{ .Values.name }}.{{ .Values.dns.domain }}"
      recordTTL: 300
      recordType: CNAME
      targets:
        - "{{ .Values.ingress.name }}.{{ .Values.dns.domain }}"
{{- end }}
