{{- if and .Values.leaderElection.enabled (eq .Values.leaderElection.leaseType "gcs") (hasKey (dig "gcsLease" dict .Values.leaderElection) "credentials") }}
apiVersion: v1
kind: Secret
metadata:
  name: rdi-lease-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    control-plane: operator
    {{- with .Values.global.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.global.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  credentials: {{ .Values.leaderElection.gcsLease.credentials | b64enc | quote }}
{{- end }}