{{- if .Values.webhooks.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: rdi-operator-webhooks
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    {{- with merge (.Values.webhooks.labels | default dict) (.Values.global.labels | default dict) }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with merge (.Values.webhooks.annotations | default dict) (.Values.global.annotations | default dict) }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  ports:
    - name: https
      protocol: TCP
      port: 443
      targetPort: 9443
  selector:
    {{- include "chart.selectorLabels" . | nindent 4 }}
{{- end }}
