#
name: "postgres"
namespace: ""

postgres:
  image:
    repository: postgres
    tag: "16"
    pullPolicy: IfNotPresent

  auth:
    username: postgres
    password: ""
    database: pgdb

  externalSecret:
    enabled: false
    store:
      kind: ClusterSecretStore
      name: ""
    key: ""

  resources:
    requests:
      memory: "256Mi"
      cpu: "250m"
    limits:
      memory: "1Gi"
      cpu: "1000m"

  persistence:
    enabled: true
    storageClass: ""
    size: 16Gi
    accessMode: ReadWriteOnce

  config: |
    wal_level = logical
  hbaConfig: |
    host    replication     all             0.0.0.0/0            trust

service:
  clusterIP:
    enabled: true
    port: 5432
    type: ClusterIP

  loadBalancer:
    enabled: false
    port: 5432

  ingress:
    enabled: false
    type: "haproxy"
    name: "haproxy"

dns:
  domain: ""

exporter:
  enabled: false
  image:
    repository: prometheuscommunity/postgres-exporter
    tag: "v0.15.0"
    pullPolicy: IfNotPresent

  resources:
    requests:
      memory: "64Mi"
      cpu: "50m"
    limits:
      memory: "128Mi"
      cpu: "200m"

  port: 9187

  serviceMonitor:
    enabled: false
    interval: 30s
    labels:
      release: prometheus

podAnnotations: {}

podSecurityContext:
  fsGroup: 999
  runAsUser: 999
  runAsNonRoot: true

nodeSelector: {}

tolerations: []

affinity: {}
