apiVersion: v1
kind: Service
metadata:
  name: "{{ .Values.database }}-exporter"
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
    app: "{{ .Values.database }}-exporter"
    component: monitoring
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9121"
spec:
  type: ClusterIP
  selector:
    app: "{{ .Values.database }}-exporter"
  ports:
    - name: metrics
      port: 9121
      targetPort: metrics
      protocol: TCP
